body {
    font-family: sans-serif;
    font-size: 1.6rem;
    color: #333;
}

button {
    font-size: 28px;
    margin: 10px;
}

/* Стиль текста */
span {
    font-size: 24px;
    margin: 10px;
}

/* Стиль абзаца */
p {
    font-size: 16px;
    margin-top: 20px; /* Добавим отступ сверху для параграфа */
}
